@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-image: url(../media/img/interior-christmas-magic-glowing-tree-fireplace-royalty-free-image-1628537941-1.jpg);
    background-repeat: no-repeat; 
     background-size: 100% 100%;
}
html {
    height: 100%
}
/* პირველი ნავ ბარი   */
.links1 p{
    font-size: 13px;
    margin-right: 30px;
}

.nav-bar1{
    min-height: 35px;
    align-items: center;
    background-color: rgb(138, 36, 36); 
     justify-content: space-around;
     display: flex;
}
.log-sign p:nth-child(3){
    margin-left: 5px;
    cursor: pointer;
}
.log-sign p:nth-child(1){
    margin-right: 5px;
    cursor: pointer;
}
.log-sign{
    display:flex;
    font-size: 11px;
}
.links1 a{
    font-size: 12px;
}
.links1 a, i, p{
    text-decoration: none;
    color:white;

}
.links1{
    margin-right: 35%;
    display:flex;
    justify-content: space-around;
    width: 28%;
}
/* მეორე ნავ ბარი */
.nav-bar ul li{
    opacity: 100%;
}
nav{
    position: sticky;
    top:0;
}
.nav-bar{
    position: relative;
    z-index: 2;
    opacity: 70%;
    min-height: 154px;
    align-items: center;
   background-color: rgb(92, 24, 24); 
    justify-content: space-around;
    display: flex;
}
a{
    text-decoration: none;
}
li{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size:medium;
    /* display: inline-block; */
    list-style: none;
    /* justify-content:space-between; */
    color: white;
}
.links{
    
    display:flex;
    justify-content: space-around;
    width: 40%;
}
.img1{
    border-radius: 50%;
    width: 70px;
}
.navbar-logo{
    align-items: center;
    display: flex;
}
.navbar-logo h1{
    
    color: white;
}
.svg1{
    width:20px;
    height: auto;
}
.middle h1{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 150px;
}
.middle h1:nth-child(1){
    color:white;
}
.middle h1:nth-child(2){
    color: white;
    letter-spacing: 3px;
   position: relative;
   bottom: 50px;
   left: 95px;

}
.middle{
    z-index:-1 ;
  position: relative;
  top:-35px;
  width: fit-content;
} 
.explore {
    
    z-index: -1;
    position: absolute;
    top: 286px;
    height: 50px;
    border-radius: 20px;
    padding:15px;
  background-color: tomato;
    width: 250px;
    cursor: pointer;
}
.menue1{
    justify-content: space-between;
    height: 94px;
    width: 80%;
    flex-wrap: wrap;
    display:flex;  
   position: absolute;
    bottom:0;

}
/* .relativeformenue{
   border:3px solid black;
    position: relative;
    height: 200px;
    
} */
.menue-insaid i{

    color: black;
}
.menue-insaid{
    cursor: pointer;
    /* opacity: 0; */
    padding:30px;
    width: 16.6%;
    background-color: rgb(255, 255, 255);
}
.menue-insaid:nth-child(1){
  background-color: rgb(156, 82, 82);
    border-top-left-radius: 80%;
}
.menue-insaid:nth-child(6){
  
    border-top-right-radius: 80%;
}
.menue-insaid p{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
#ess i{
    margin-right: 5px;
}
.search-menue{
    display: none;
    position: absolute;
    height: fit-content;
    width:234px;
    left: -110px;
    top: -4px;
}
.search-list{
    cursor: pointer;
    position:relative;
}
.search-lis:nth-child(1){
    width:100%;
    height:50px;
}
.search-list i:hover + .search-menue{
    transition: 2s;
   display: block;
}
.search-menue:hover{
    display: block;
}
/* main{
    min-height: 100%;
    position: relative;
} */